$color-pirple: #6C5DD4;
$grey-text: #96979C;
$special-gray: #96979C;
$color-orange: #FA784A;
$btn-gray: #CACBCE;
$color-white: #FFFFFF;

$OpenSans-Bold: 'OpenSans-Bold', sans-serif;
$OpenSans-Regular: 'OpenSans-Regular', sans-serif;
$OpenSans-ExtraBold: 'OpenSans-ExtraBold', sans-serif;
$OpenSans-SemiBold: 'OpenSans-SemiBold', sans-serif;
$OpenSans-Italic: 'OpenSans-Italic', sans-serif;
$OpenSans-Light: 'OpenSans-Light', sans-serif;




